.page
  .cols
    .box.center.justify-center
      h1 戦闘
  .cols.f3
    .box.space-around
      .rows.space-around
        p ヴァンパイア
        p コボルド
        p スライム
      .rows.space-around
        p 1体
        p 6体
        p 12体
  .cols
    .box ジョンはどうする？

  .cols.f2
    .box 戦う
    .box 防御
    .box 呪文
    .box アイテム
    .box 逃げる

  .cols.f3
    .box
      .rows.f2.space-around
        p 名前
        p ジョン
        p ボブ
        p サム
        p ダグラス
        p ケイト
        p キング
      .rows.space-around
        p クラス
        p 戦士
        p 戦士
        p 僧侶
        p 盗賊
        p メイジ
        p メイジ
      .rows.space-around
        p AC
        p -1
        p -1
        p 0
        p 4
        p 8
        p 8
      .rows.space-around
        p HP
        p 45
        p 45
        p 45
        p 45
        p 45
        p 45
      .rows.space-around
        p 状態
        p 正常
        p 正常
        p 正常
        p 正常
        p 正常
        p 正常
