.page
  .cols
    .box.center.justify-center
      h1 リルガミン城
  .cols.f3
    .box
      .rows.space-around.center
        p ギルガメッシュの酒場
        p 冒険者の宿
        p ボルタック商店
        p カント寺院
        p 街外れ
  .cols.f3
    .box
      .rows.f2.space-around
        p 名前
        p ジョン
        p ボブ
        p サム
        p ダグラス
        p ケイト
        p キング
      .rows.space-around
        p クラス
        p 戦士
        p 戦士
        p 僧侶
        p 盗賊
        p メイジ
        p メイジ
      .rows.space-around
        p AC
        p -1
        p -1
        p 0
        p 4
        p 8
        p 8
      .rows.space-around
        p HP
        p 45
        p 45
        p 45
        p 45
        p 45
        p 45
      .rows.space-around
        p 状態
        p 正常
        p 正常
        p 正常
        p 正常
        p 正常
        p 正常
