doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width,user-scalable=0")
    title flexbox
    link(rel="stylesheet",href="reset.css")
    link(rel="stylesheet",href="stylesheet.css")
  body
    include _body

  script(type="text/javascript",src="jquery.min.js")
  script(type="text/javascript",src="script.js")
